@model ClientProject.Models.MenuViewModels.MenuViewModel

@{
    ViewData["Title"] = "Carte du snack";
}

<h2>Carte du snack</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Menu.Sandwiches.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Menu.Sandwiches.First().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Menu.Sandwiches.First().Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sandwich in Model.Menu.Sandwiches)
            {
                <tr>
                    <td>
                        @Html.RadioButtonFor(m => m.SelectedSandwich, sandwich.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sandwich.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sandwich.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sandwich.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="AddToCart" class="btn btn-default" />
}


@*<table>
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Vegetable.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Menu.VegetablesPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vegetable.Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

