@using (Html.BeginForm())
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.RadioButtonFor(modelItem => model.Selection, "")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}