@model ClientProject.Models.EmployeesManagementViewModels.AddToWalletViewModel

@{
    ViewData["Title"] = "Créditer le porte-monnaie";
}

<h2>Créditer le porte-monnaie</h2>

<div>
    <h4>Employé</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wallet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wallet)
        </dd>
    </dl>

    <form method="post" asp-action="AddToWallet">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <label asp-for="AddToWallet" class="control-label"></label>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="AddToWallet" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Ajouter" class="btn btn-default col-md-3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-7">
                        <span asp-validation-for="AddToWallet" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Index">Retour à la liste</a>
    </div>
    
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
