@model IEnumerable<SnackProject.Models.Sandwich>
@using Microsoft.EntityFrameworkCore;
@using SnackProject.Automatics;

@{
    ViewData["Title"] = "Liste des sandwichs";
}
@functions{
    public string stateText(EntityState state) {
        switch (state) {
            case EntityState.Added:
                return "(Ajouté) ";
            case EntityState.Modified:
                return "(Modifié) ";
            default:
                return "";
        }
    }
}
<h2>Liste des sandwichs</h2>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr style="@Html.Raw(TenHourExecutionManager.context.Entry(item).State != EntityState.Unchanged &&
                      TenHourExecutionManager.context.Entry(item).State != EntityState.Unchanged ? "color: red;" : "" )">
                <td>
                    @Html.Raw(stateText(TenHourExecutionManager.context.Entry(item).State))
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                </td>
            </tr>
        }

    </tbody>

</table>
<p style="text-align:right;">
    <a asp-action="Create">Ajouter un sandwich</a>
</p>
<br><br><br><p style="color: red;">
    * Les éléments en rouge sont mis à jour à 10h.
</p>