@model IEnumerable<ClientProject.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Liste des Employés</h2>

<p>
    <a asp-action="Create">Nouvel Employé</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wallet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wallet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Supprimer</a> |
                <a asp-action="Credit" asp-route-id="@item.id">Créditer Compte</a>
            </td>
        </tr>
}
    </tbody>
</table>
